<label for="">Server Name</label>
<!-- There is an easier way to do this. -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<!-- This does the same thing as we did previously just without having to use the custom onUpdateServerName method -->
<input type="text" class="form-control" [(ngModel)]="serverName"> 
<br>
<p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<br>
<br>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>

