<label for="">Server Name</label>
<!-- There is an easier way to do this. -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<!-- This does the same thing as we did previously just without having to use the custom onUpdateServerName method -->
<input type="text" class="form-control" [(ngModel)]="serverName"> 
<br>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<br>
<br>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated else noServer">Server was created! Server name: {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created.</p>
</ng-template>
<app-server></app-server>

